* {
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}
html {
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

h1,h2,h3,h4 {
    font-weight: bold;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-weight: 3rem;
}

/* .wrapper {
    margin: auto;
    padding: 0 2rem;
} */

.images-container {
    overflow: hidden;
}

/* header start  */

.nav-container {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


nav ul {
    display: flex;
    color: rgb(255, 255, 255);
    
}

nav ul li {
    padding: 1rem;
}

header {
    background-image: url(../resources/img/photo-1522252234503-e356532cafd5.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.hero {
    margin: 2.5rem 1rem 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    width: 70%;
    margin-left: 3rem;
    padding: 2rem;
}

.hero .text {
    opacity: 1;
}
.hero h2 {
    font-weight: normal;
    font-style: italic;
    padding: 1rem 0;
}
.hero span {
    font-size: 1.5rem;
}
