* {
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}
html {
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

h1,h2,h3,h4 {
    font-weight: bold;
}

h1 {
    font-size: 4.5rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 3.75rem;
    margin: 1.3rem 0;
}

h3 {
    font-weight: 3.5rem;
    margin: 1rem 0;
}


.images-container {
    overflow: hidden;
}

/* header start  */

.nav-container {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav ul {
    display: flex;
    color: rgb(255, 255, 255);
    
}

nav ul li {
    padding: 1rem;
}

header {
    background-image: url(../resources/img/photo-1522252234503-e356532cafd5.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.hero {
    margin: 2.5rem 1rem 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    width: 70%;
    margin-left: 3rem;
    padding: 2rem;
}

.hero h2 {
    font-weight: normal;
    font-style: italic;
    padding: 1rem 0;
}
.hero span {
    font-size: 1.5rem;
}
.hero h1 {
    padding: 1rem 0;
}

/* About-Me Start */
.about-me {
    padding: 2rem 0;
    display: flex;
}

.left-col {
    flex-basis: 60%;
    padding: 3rem 2rem;
}
 .description {
     width: 80%;
}

.left-col-description {
	position: relative;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.left-col-description:before, .left-col-description:after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
}

.left-col-description:before {
    top: 80%;
    left: 0;
    right: 60%;
    bottom: 0;
    border-bottom: 4px dashed #3D68AD;
    border-left: 4px dashed #3D68AD;
}

.left-col-description:after {
	top: 0%;
    left: 60%;
    right: 0;
    bottom: 80%;
    border-top: 4px dashed #EBBC5B;
    border-right: 4px dashed #EBBC5B;
}
 .left-col-description p {
     line-height: 2;
 }

 .left-col-description h3 {
     color: #5B92EB;
 }
 .btn-primary {
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-align: center;
    border: 1px solid #9E741E;
    border-radius: 1rem;
    background-color: #3D68AD;
    color: #FFFF;
    font-weight: bold;
}

.right-col {
    flex-basis: 40%;
}

.right-col .images-container {
    width: 90%;
    overflow: hidden;
}

.right-col .images-container img {
    max-width: 100%;
    display: block;
    height: auto;
}
/* About-Me End */

/* Skills Section Start */
.skills {
    padding: 2rem 0;
    background-color: #F3f3f3;

}
.skills h2 {
    text-align:  center;
}

.skills .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.skills .item {
    display: flex;
}

.skills .item .description {
    padding-left: 1rem;
}
/* Skills Section End */

/* Project Section Start */
.projects .title {
    text-align: center;
}

.container {
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.project-container {
    border : 1px solid black
}
.projects .images-container {
    overflow: hidden;
}

.projects .images-container img {
    max-width: 100%;
    height: auto;
}


/* Project Section End */